@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --Dark-cyan: hsl(185, 75%, 39%);
  --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --Dark-grayish-blue: hsl(227, 10%, 46%);
  --Dark-gray: hsl(0, 0%, 59%);
}
body {
  font-family: "Kumbh Sans", sans-serif;
  background-color: var(--Dark-cyan);
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: "Kumbh Sans", sans-serif;
  overflow: hidden;
  background: #19a2ae;
  /* background: url(images/bg-pattern-top.svg) no-repeat top left, 
  url(images/bg-pattern-bottom.svg) no-repeat bottom right, #19a2ae;
  background-size: 98vw;
  background-position: left -50vw  top -60vw, bottom -50vw right -50vw; */
}
body:before,
body:after {
  position: absolute;
  content: "";
  width: 100vw;
  height: 100vh;
  background-size: auto;
  transform: translate(-50%, -50%);
}

body:before {
  top: 0;
  left: 0;
  background: url("images/bg-pattern-top.svg") no-repeat bottom right;
}

body:after {
  top: 100%;
  left: 100%;
  background: url("images/bg-pattern-bottom.svg") no-repeat top left;
}

main {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
  max-width: 400px;
  margin: 15px;
  box-shadow: 1px 1px 60px 0px hsl(227, 10%, 46%);
  z-index: 1;
}

.content img {
  display: block;
  max-width: 100%;
  border-radius: 50%;
  border: 5px solid white;
  margin: -50px auto 10px auto;
}

h1 {
  font-size: 1.5rem;
}

h1,
strong {
  font-weight: 700;
  color: var(--Very-dark-desaturated-blue);
  text-align: center;
}

.content span {
  font-weight: 400;
  color: var(--Dark-grayish-blue);
}

p,
li {
  font-weight: 400;
  text-align: center;
  color: var(--Dark-grayish-blue);
}

.content p {
  margin-top: 7px;
}

.info-container {
  display: flex;
  justify-content: space-evenly;
  padding: 25px 0;
  list-style: none;
}

strong {
  display: block;
}

hr {
  border: none;
  height: 0.51px;
  background-color: var(--Dark-gray);
  margin-top: 30px;
}
